.menu__link {
    color: var(--cinza-claro);
    margin-right: 1.25em;
    text-decoration: none;
    text-transform: lowercase;
}

.ativo {
    color: var(--cinza-escuro);
    font-weight:bold;
}

.menu__link:hover {
    text-decoration: underline;
}